html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  position: relative;
  width: 100%;
  height: 85%;
  top: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background-image {
  height: 85%;
  width: 100%;
  justify-self: center;
  position: fixed;
  background-image: url("../../../../static/images/AcceleRateBG.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  bottom: 0;
}

.select-services-page {
  position: relative;
  width: 100%;
  height: 100%;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#service-selector {
  position: absolute;
  width: 100%;
  max-width: 635px;
  height: 85vh;
  max-height: 531px;
  background-color: #ffffff;
  border-radius: 25px;
  box-shadow: 0px 4px 4px #00000040;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  transition: transform 0.5s ease-out;
}

#service-details {
  position: absolute;
  width: 635px;
  height: 531px;
  background-color: #ffffff;
  border-radius: 25px;
  box-shadow: 0px 4px 4px #00000040;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  transition: transform 0.5s ease-out;
  transform: translateX(100vw);
}

#estimates {
  position: absolute;
  width: 635px;
  height: 531px;
  background-color: #ffffff;
  border-radius: 25px;
  box-shadow: 0px 4px 4px #00000040;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  transition: transform 0.5s ease-out;
  transform: translateX(100vw);
}

#submit {
  position: absolute;
  width: 635px;
  height: 531px;
  background-color: #ffffff;
  border-radius: 25px;
  box-shadow: 0px 4px 4px #00000040;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  transition: transform 0.5s ease-out;
  transform: translateX(100vw);
}

.page-section-title {
  width: 100%;
  font-family: "Roboto-ExtraBold", Helvetica;
  font-weight: 800;
  color: #000000;
  font-size: clamp(0px, 7vw, 30px);
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.scrollable-services {
  overflow-y: scroll;
  overflow-x: hidden;
  width: 85%;
}

.services-rect {
  width: 100%;
  height: 90%;
  background-color: #d9d9d9;
  border-radius: 25px;
  box-shadow: inset 0px 4px 4px #00000040;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#service-selection-columns {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.service-selection-column {
  width: 45%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

#estimate-selection-column {
  width: 90%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.service-selection-column-mobile {
  width: 90%;
}

.next,
.submit-button,
.back {
  cursor: pointer;
  position: relative;
  width: 116px;
  max-width: 50%;
  height: 43px;
  max-height: 100%;
  background-color: #48ab52;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

.back {
  background-color: #f20f0f;
}

.text-wrapper-8 {
  width: 90px;
  font-family: "Roboto-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: clamp(0px, 10vw, 20px);
  letter-spacing: 0;
  line-height: normal;
  text-align: center;
}

.click-to-add-text {
  font-family: "Roboto-ExtraBold", Helvetica;
  font-weight: 800;
  color: #555050e8;
  font-size: clamp(0px, 7vw, 15px);
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.overlap-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5vh;
}

.checkpoint {
  background-color: #d9d9d9;
  width: 3vh;
  height: 3vh;
  border-radius: 1.5vh;
  margin: -1.5vh;
  z-index: 1;
}

.progress-bar-line {
  width: 20vw;
  height: 1.25vh;
  background-color: #d9d9d9;
}

.progress-text {
  display: block;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #a0a0a0;
  font-size: 1.75vh;
  letter-spacing: 0;
  line-height: normal;
  text-align: center;
  margin: -width;
}

.active-progress-text {
  font-size: 2.25vh;
}

.activated-progress-text {
  color: #48ab52;
}

.active-progress {
  background-color: #48ab52;
}

#exit {
  position: absolute;
  width: 70px;
  height: 35px;
  background-color: #c3c3c3;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  right: 34px;
  border: none;
}

#exit-text {
  font-family: "Roboto-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  text-align: center;
}

#services,
#landscape-services,
#service-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.service,
.service-estimate {
  position: relative;
  width: 190px;
  height: 35px;
  border-radius: 10px;
  box-shadow: 0px 4px 4px #00000040;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;
  margin-top: 5px;
  margin-bottom: 5px;
  cursor: pointer;
  background-color: #ffffff;
}

.service-estimate {
  width: 400px;
  height: 70px;
}

.selected-service {
  background-color: #929292;
}

.added-service {
  background-color: #48ab52;
  cursor: default;
}

.service-text,
.selected-service-text {
  position: relative;
  font-family: "Roboto-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  text-align: center;
  line-height: normal;
}

.header {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 15%;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 4px #00000040;
}

.progress-bar-text {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.services-page-buttons {
  display: flex;
  flex-direction: row;
  width: 568px;
}

.service-selection-columns {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.progress-text-box {
  width: 20vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.price-range-text,
.price-range-text-2 {
  position: relative;
  font-family: "Roboto-Medium", Helvetica;
  font-weight: 500;
  color: #007704;
  font-size: 25px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.price-range-text-2 {
  font-size: 20px;
}

.service-range-rect,
.form-rect {
  width: 100%;
  height: 321px;
  background-color: #d9d9d9;
  border-radius: 25px;
  box-shadow: inset 0px 4px 4px #00000040;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.final-service-rect {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.form-rect {
  width: 436px;
  padding: 20px;
}

.service-range {
  position: relative;
  width: 509px;
  height: 75px;
  background-color: #ffffff;
  border-radius: 25px;
  box-shadow: 0px 4px 4px #00000040;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 5px;
}

.service-range-text {
  font-family: "Roboto-ExtraBold", Helvetica;
  font-weight: 800;
  color: #000000;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.buttons {
  width: 90%;
  height: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.contact-inputs,
.message-input {
  width: 354px;
  height: 40px;
  border: none;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0px 4px 4px #00000040;
  padding-left: 10px;
}

.message-input {
  height: 150px;
}

#quote-button,
#search,
#get-area {
  border: 1px solid #848484;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px;
  margin-top: 10px;
}

#map {
  width: 600px;
  height: 600px;
  margin-top: 10px;
}

#search {
  width: 500px;
}
