<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Place Autocomplete Element</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'userapp/css/style.css' %}" >
</head>
<body>
    <p>Find Your Property</p>
    <div>
      <input id="search" type="text" placeholder="Enter your address" />
      <button id="quote-button">Quote</button>
</div>
<div id="map"></div>
<button id="get-area"> Get Area </button>
<div id="area"></div>
<script src="{% static 'userapp/js/script.js' %}"></script>
<script async
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB-5X3qnVlaTu7rlwcpV7neQZDCEw-eMdA&loading=async&libraries=places,drawing,geometry&callback=initAutocomplete">
</script>
</body>
</html>