<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Select Service</title>
    {% load static %}
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'userapp/css/service.css' %}"
    />
  </head>
  <body>
    <div class="select-services-page">
      <div class="header">
        <div class="overlap-group">
          <div class="checkpoint"></div>
          <div class="progress-bar-line" id="bar-1"></div>
          <div class="checkpoint"></div>
          <div class="progress-bar-line" id="bar-2"></div>
          <div class="checkpoint"></div>
          <div class="progress-bar-line" id="bar-3"></div>
          <div class="checkpoint"></div>
        </div>
        <div class="progress-bar-text">
          <div class="progress-text-box">
            <div class="progress-text">Services</div>
          </div>
          <div class="progress-text-box">
            <div class="progress-text">Details</div>
          </div>
          <div class="progress-text-box">
            <div class="progress-text">Estimates</div>
          </div>
          <div class="progress-text-box">
            <div class="progress-text">Submit</div>
          </div>
        </div>
        <button id="exit">
          <div id="exit-text">Exit</div>
        </button>
      </div>
      <div class="body">
        <div class="background-image"></div>
        <div id="service-selector">
          <div class="page-section-title">
            Select Services To Quote
          </div>
          <div id="service-selection-columns">
            <div class="service-selection-column" id="service-selection-column">
              <div class="click-to-add-text">Click to Add or Remove</div>
              <div class="services-rect">
                <div class="scrollable-services">
                  <div id="services">
                    <button class="service">
                      <div class="service-text">Lawn Mowing</div>
                    </button>
                    <button class="service">
                      <div class="service-text">Leaf Removal</div>
                    </button>
                    <button class="service">
                      <div class="service-text">Hedge Trimming</div>
                    </button>
                    <button class="service">
                      <div class="service-text">Lawn Fertilization</div>
                    </button>
                    <button class="service">
                      <div class="service-text">Weed Control</div>
                    </button>
                    <button class="service">
                      <div class="service-text">Mulching</div>
                    </button>
                    <button class="service">
                      <div class="service-text">Tree Trimming</div>
                    </button>
                    <button class="service">
                      <div class="service-text">Seeding</div>
                    </button>
                    <button class="service">
                      <div class="service-text">Aeration</div>
                    </button>
                    <button class="service">
                      <div class="service-text">Snow Removal</div>
                    </button>
                    <button class="service">
                      <div class="service-text">Pest Control</div>
                    </button>
                    <button class="service">
                      <div class="service-text">Gutter Cleaning</div>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="service-selection-column" id="landscape-service-selection-column">
              <div class="click-to-add-text">Selected Services</div>
              <div class="services-rect">
                <div class="scrollable-services">
                  <div id="landscape-services">
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="buttons">
            <div></div>
            <button class="next"><div class="text-wrapper-8">Next</div></button>
          </div>
        </div>
        <div id="service-details">
          <div class="page-section-title">Enter Your Address</div>
          <div id="search-tool">
            <input id="search" type="text" placeholder="Enter your address" />
            <button id="quote-button">Quote</button>
            <button id="get-area">Get Area</button>
            <div id="area"></div>
          </div>
          <div id="map"></div>
          <div class="buttons">
            <button class="back"><div class="text-wrapper-8">Back</div></button>
            <button class="next"><div class="text-wrapper-8">Next</div></button>
          </div>
        </div>
        <div id="estimates">
          <div class="select-service-to-quote-text">Estimated Price Range</div>
          <div class="price-range-text">$000.00 - $9,999.00</div>
          <div id="estimate-selection-column">
            <div class="click-to-remove-text">Click to Remove</div>
            <div class="services-rect">
              <div class="scrollable-services">
                <div id="services">
                  <div class="service-estimate">
                    <div class="service-range-text">Service 1</div>
                    <div class="service-range-text">$000.00 - $9,999.00</div>
                  </div>
                  <div class="service-estimate">
                    <div class="service-range-text">Service 2</div>
                    <div class="service-range-text">$000.00 - $9,999.00</div>
                  </div>
                  <div class="service-estimate">
                    <div class="service-range-text">Service 3</div>
                    <div class="service-range-text">$000.00 - $9,999.00</div>
                  </div>
                  <div class="service-estimate">
                    <div class="service-range-text">Service 3</div>
                    <div class="service-range-text">$000.00 - $9,999.00</div>
                  </div>
                  <div class="service-estimate">
                    <div class="service-range-text">Service 3</div>
                    <div class="service-range-text">$000.00 - $9,999.00</div>
                  </div>
                  <div class="service-estimate">
                    <div class="service-range-text">Service 1</div>
                    <div class="service-range-text">$000.00 - $9,999.00</div>
                  </div>
                  <div class="service-estimate">
                    <div class="service-range-text">Service 2</div>
                    <div class="service-range-text">$000.00 - $9,999.00</div>
                  </div>
                  <div class="service-estimate">
                    <div class="service-range-text">Service 3</div>
                    <div class="service-range-text">$000.00 - $9,999.00</div>
                  </div>
                  <div class="service-estimate">
                    <div class="service-range-text">Service 3</div>
                    <div class="service-range-text">$000.00 - $9,999.00</div>
                  </div>
                  <div class="service-estimate">
                    <div class="service-range-text">Service 3</div>
                    <div class="service-range-text">$000.00 - $9,999.00</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="buttons">
            <button class="back"><div class="text-wrapper-8">Back</div></button>
            <button class="next"><div class="text-wrapper-8">Next</div></button>
          </div>
        </div>
        <div id="submit">
          <div class="select-service-to-quote-text">Submit Your Service Request</div>
          <div class="price-range-text-2">$000.00 - $9,999.00</div>
          <div class="add-services">
            <div class="click-to-remove-text">Enter the following and we will contact you shortly</div>
            <div class="form-rect">
              <form class="contact-form" id="contact-form">
                <input 
                  class="contact-inputs"
                  type="text"
                  id="name"
                  name="name"
                  placeholder="Full Name"
                />
                <input
                  class="contact-inputs"
                  type="text"
                  id="email"
                  name="Email"
                  placeholder="Email"
                />
                <input
                  class="contact-inputs"
                  type="text"
                  id="phone"
                  name="phone"
                  placeholder="Phone Number"
                />
                <textarea
                  class="message-input"
                  id="message"
                  name="message"
                  placeholder="*Optional Message"
                ></textarea>
              </form>
            </div>
          </div>
          <div class="buttons">
            <button class="back"><div class="text-wrapper-8">Back</div></button>
            <button class="submit-button"><div class="text-wrapper-8">Submit</div></button>
          </div>
        </div>
      </div>
    </div>
    <script src="{% static 'userapp/js/service.js' %}"></script>
    <script
      async
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB-5X3qnVlaTu7rlwcpV7neQZDCEw-eMdA&loading=async&libraries=places,drawing,geometry"
    ></script>
  </body>
</html>
