<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Select Service</title>
    {% load static %}
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'userapp/css/service.css' %}"
    />
    <link rel="stylesheet" href="globals.css" />
  </head>
  <body>
    <div class="select-services-page">
      <div class="div">
        <div class="divider"></div>
        <div class="background">
          <div class="select-service-rect"></div>
          <div class="select-service-to-quote-text">
            Select Services To Quote
          </div>
          <div class="add-service-rect"></div>
          <div class="added-service-rect"></div>
          <div class="service2-rect"></div>
          <div class="service3-rect"></div>
          <div class="service4-rect"></div>
          <div class="service1-rect"></div>
          <div class="selected-service-1-rect"></div>
          <div class="selected-service-2-rect"></div>
          <div class="service-1-text">Lawn Mowing</div>
          <div class="selected-service-1-text">Selected Service 1</div>
          <div class="selected-service-2-text">Selected Service 2</div>
          <div class="service-2-text">Leaf Removal</div>
          <div class="service-3-text">Service 3</div>
          <div class="service-4-text">Service 4</div>
          <div class="rectangle-11"></div>
          <div class="rectangle-12"></div>
          <div class="component"><div class="text-wrapper-8">Next</div></div>
          <div class="click-to-add-text">Click to Add</div>
          <div class="click-to-remove-text">Click to Remove</div>
        </div>
        <div class="services-text">Services</div>
        <div class="details-text">Details</div>
        <div class="estimates-text">Estimates</div>
        <div class="submit-text">Submit</div>
        <div class="progress-bar">
          <div class="overlap-group">
            <div class="ellipse"></div>
            <div class="rectangle-13"></div>
            <div class="rectangle-14"></div>
            <div class="ellipse-2"></div>
            <div class="ellipse-3"></div>
            <div class="rectangle-15"></div>
            <div class="ellipse-4"></div>
          </div>
        </div>
        <div class="next-wrapper">
          <div class="next">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Exit</div>
        </div>
      </div>
    </div>
  </body>
</html>
